#header {
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

#header .header_box {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

a {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding-left: 70px;
}

.linkitem {
    flex-direction: row;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 5px;
    margin-right: 70px;
}

.linkitem a {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    gap: 1px;
    display: flex;
    padding-right: 80px;
    padding-right: 0;
    padding-left: 30px;

}
.linkitem a:hover {

    color: rgb(41, 104, 107)

}
#image {
    background-image: linear-gradient(0deg, rgba(47, 43, 43, 0.5), rgba(56, 50, 50, 0.5)), url(	https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    width: 100%;
    height: 90vh;
}
#image h1 {
    color: #ffffff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 5.5rem;
    text-align: center;
    padding-top: 180px;
    font-weight: 800;
    text-align: left;
    width: fit-content;
    
    margin: 0 auto;
}

#image h2 {
    padding-top: 10px;
    padding-right: 90px;
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0.5rem 0 4rem 5rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.1;
    display: block;
}
.text{
   
    font-size: 1.5rem;
    margin: 80px 250px 10px 250px;
    color: #212529;
    padding-left: 230px;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-top: 1px solid #968e8e;
    padding-top: 30px;

}

.icon .iconcolor {

    width: 50px;
    height: 50px;
    background-color: #212529;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.iconcolor:hover {
    background-color: #0085A1;

}

.littletext {
    color: #6C757D;

    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}